* {
  text-align: center;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 20px;
  background-color: rgba(255, 99, 71, 0.829);
}




.nav_center {
  width: 300px;
}


.content {
  display: block;
  float: left;
  width: 100vh;
  margin: 0 auto;
}

.nav__content{
  display: flex;
}